name: govulncheck
on:
  push:
    branches:
      - main
      - master
  pull_request:

permissions:
  contents: read

jobs:
  govulncheck_job:
    runs-on: ubuntu-latest
    name: Run govulncheck
    env:
      GOPRIVATE: github.com/infodancer/*
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Configure git for private modules
        run: git config --global url."https://x-access-token:${{ github.token }}@github.com/".insteadOf "https://github.com/"
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          repo-checkout: false
